<!DOCTYPE html>
<html>
<head th:replace="fragments :: head"></head>
<body>
	<div th:replace="fragments :: navbar1"></div>
	<div th:replace="fragments :: navbar2"></div> 
	
	<div class="row">
		<div class="col-lg-4"><button type="button" class="btn btn-success" onclick="location.href='/home/copy/rv'">Copy Real-Virtual</button></div>
		<div class="col-lg-4"><button type="button" class="btn btn-success" onclick="location.href='/home/copy/vv'">Copy Virtual-Virtual</button></div>
		<div class="col-lg-4"><button type="button" class="btn btn-success" onclick="location.href='/home/copy/vr'">Copy Virtual-Real</button></div>
	</div>
</body>
</html>