<!DOCTYPE html>
<html>
<head th:replace="fragments :: head"></head>    
<body>
	<div th:replace="fragments :: navbar1"></div>
	<div th:replace="fragments :: navbar2"></div>
	
	<form action="/home/deletefile" method="post">
		<div class="form-group">
    		<label for="filename">File name</label>
    		<input type="text" class="form-control" name="fileName"/>
  		</div>
		<button type="submit" class="btn btn-danger">Delete</button>
		<h3 style="color: #ff0033" th:text="${err}"></h3>
	</form> 

</body>
</html>