<!DOCTYPE html>
<html>
	<head th:replace="fragments :: head"></head>    
<body>
	<div th:replace="fragments :: navbar1"></div>
	<div th:replace="fragments :: navbar2"></div> 
		<div class="row">
		<div class="col-lg-6"><button type="button" class="btn btn-success" onclick="location.href='/home/deletefolder'">Delete Folder</button></div>
		<div class="col-lg-6"><button type="button" class="btn btn-success" onclick="location.href='/home/deletefile'">Delete File</button></div>
	</div>

</body>
</html>