<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
	<div th:replace="fragments :: navbar1"></div>
	<div th:replace="fragments :: navbar2"></div>        
	
	<div class="row">
		<div class="col-lg-2"><button type="button" class="btn btn-success">Copiar</button></div>
		<div class="col-lg-2"><button type="button" class="btn btn-success">Mover</button></div>
		<div class="col-lg-2"><button type="button" class="btn btn-success">Navegar</button></div>
		<div class="col-lg-2"><button type="button" class="btn btn-success" onclick="location.href='/home/create'">Crear</button></div>
		<div class="col-lg-2"><button type="button" class="btn btn-success">Listar</button></div>
	</div>
	
            <form  method="POST" action="/home/upload" enctype="multipart/form-data">
    			<input type="file" name="file" /><br/><br/>
    			<input class="btn btn-primary"  type="submit" value="Subir" />
    			<h4 style="color: #ff0033" th:text="${message}"></h4>
			</form>
			
			
			
        
</body>
</html>