<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
	<div th:replace="fragments :: navbar1"></div>
	<div th:replace="fragments :: navbar2"></div>        
	
	<div class="row">
		<div class="col-lg-2"><button type="button" class="btn btn-success" onclick="location.href='/home/copy'">Copy</button></div>
		<div class="col-lg-2"><button type="button" class="btn btn-success">Move</button></div>
		<div class="col-lg-2"><button type="button" class="btn btn-success" onclick="location.href='/home/surf'">Surf</button></div>
		<div class="col-lg-2"><button type="button" class="btn btn-success" onclick="location.href='/home/create'">Create</button></div>
		<div class="col-lg-2"><button type="button" class="btn btn-success" onclick="location.href='/home/list'">List</button></div>
	</div>
	
            
			
			
			
        
</body>
</html> 