<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<title>WebDrive</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/font-awesome/css/font-awesome.min.css"></link>
	
</head>
<body>
	<h1 th:text="'Welcome back, ' + ${session.userInSession.getUsername()}" th:unless="${session == null}"></h1>
        
            <form method="POST" action="/home/upload" enctype="multipart/form-data">
    			<input type="file" name="file" /><br/><br/>
    			<input class="btn btn-primary"  type="submit" value="Subir" />
    			<h4 style="color: #ff0033" th:text="${message}"></h4>
			</form>
        
</body>
</html>