<!DOCTYPE html>
<html>
	<head th:replace="fragments :: head"></head>    
<body>
	<div th:replace="fragments :: navbar1"></div>
	<div th:replace="fragments :: navbar2"></div> 
	
	<div class="list-group">
		<div class="list-group-item active">Folders</div>
		<div class="list-group-item" th:each="folder : ${session.userInSession.getMyDrive().getCurrentFolder().getChilds()}" th:text="${folder.getName()}"></div>
	</div>
	<br/>
	<br/>
	<div class="list-group">
		<div class="list-group-item active">Files</div>
		<form  action="/home/file/" th:each="file : ${session.userInSession.getMyDrive().getCurrentFolder().getFiles()}"  method="post">
      		<input type="hidden" th:value="${file.getName()}" name="fileName"/>
    	<button class="list-group-item" type="submit" th:text="${file.getName()}"></button>
  	</form>
	</div>
	
</body>
</html>