<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<title>WebDrive</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/font-awesome/css/font-awesome.min.css"></link>
	
</head>
<body>
	<h1>Registration Form</h1> <br /><br />
	<form method="post">
            <input type="text" name="username" /> Username<br /><br />
            <input type="password" name="password" /> Password<br /><br />
            <input type="space" name="space" /> Space in Bytes<br /><br />
            <input type="submit" value="Sign Up" />
        </form>
</body>
</html>