<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
	<meta charset="UTF-8"/>
	<title>WebDrive Register</title>
</head>
<body>
	<h1>Registration Form</h1> <br /><br />
	<form method="post">
            <input type="text" name="username" /> Username<br /><br />
            <input type="password" name="password" /> Password<br /><br />
            <input type="space" name="space" /> Space in Bytes<br /><br />
            <input type="submit" value="Sign Up" />
        </form>
</body>
</html>